# Lab | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.


## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
data = pd.read_excel('/Users/elissadejong/lab-inferential-statistics-anova/files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [3]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [4]:
cols = []

for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(' ','_'))

data.columns = cols
data.head()

  power_  etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [5]:
data['power_'] = pd.to_numeric(data['power_'].map(lambda x: x.rstrip(' W')))

In [6]:
data.describe()

           power_  etching_rate
count   15.000000     15.000000
mean   180.000000      6.782667
std     16.903085      1.228643
min    160.000000      5.430000
25%    160.000000      5.845000
50%    180.000000      6.240000
75%    200.000000      7.725000
max    200.000000      9.200000

In [7]:
data.groupby('power_').agg(np.mean)

        etching_rate
power_
160            5.792
180            6.238
200            8.318

In [8]:
data['power_'].value_counts()

160    5
180    5
200    5
Name: power_, dtype: int64

## Answers

- The null hypothesis = the means are the same (changing the power of the plasma beam does not have a significant effect on the etching rate by the machine)<br>
- The alternative hypothesis = the means are different (changing the power has a significant effect on the etching rate)<br>
- Significance level = 0.05<br>
- DoF of each sample = n - 1 (n = sample size)<br>
DoF is 5 - 1 = 4 for each sample<br>
DoF1 for the F-tables is calculated by k - 1 (with k = number of samples) so 3 - 1 = 2<br>
- Total DoF = N - k (N = total sample size)<br>
Total DoF is 15 - 3 = 12 (DoF2 in the F-tables)<br>
- ERROR TERMS = "The amount by which an observed variate differs from the value predicted by the model. Errors or residuals are the segments of scores not accounted for by the analysis. In Analysis of Variance, the errors are assumed to be independent of each other, and normally distributed about the sample means"

## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [9]:
model = ols('etching_rate ~ C(power_)',data=data).fit()
sm.stats.anova_lm(model)

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

From the F-table for 0.05 it can be concluded that the F-value for DoF1(2) and DoF2(12) is 3.89. The F-value from the ANOVA test is way bigger than that and is significant at the 0.05 level (because the p-value < 0.05). Hence, we can reject the null hypothesis and conclude that changing the power of the plasma beam has a significant effect on the etching rate by the machine.