# Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

## Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

Data was collected randomly and provided to you in the table as shown: link to the image - Data

**State the null hypothesis**

Ho = changing the power of the plasma beam has no effect on the etching rate by the machine

**State the alternate hypothesis**

Ho = changing the power of the plasma beam has an effect on the etching rate by the machine

What is the significance level

https://www.dummies.com/education/math/statistics/10-key-concepts-in-hypothesis-testing/

**Significance**
The significance level is a measure of the statistical strength of the hypothesis test. It is often characterized as the probability of incorrectly concluding that the null hypothesis is false.

The significance level is something that you should specify up front. In applications, the significance level is typically 0.05 (5%).

What are the degrees of freedom of model, error terms, and total DoF

- Degrees of Freedom refers to the maximum number of logically independent values, which are values that have the freedom to vary, in the data sample.

- An error term in statistics is a value which represents how observed data differs from actual population data. It can also be a variable which represents how a given statistical model differs from reality. The error term is often written Îµ.

# Part 2

In this section, use Python to conduct ANOVA. <br>
What conclusions can you draw from the experiment and why?

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [18]:
data = pd.read_excel(r"files_for_lab\anova_lab_data.xlsx", sheet_name='data_collected')

In [32]:
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [33]:
data.dtypes

Power            object
Etching Rate    float64
dtype: object

In [47]:
data.columns = ['power', 'etching_rate']

In [49]:
for col in data:
    print(data[col].value_counts(), '\n')

160 W    5
180 W    5
200 W    5
Name: power, dtype: int64

6.60    1
6.24    1
7.90    1
9.20    1
6.01    1
5.71    1
5.43    1
5.66    1
5.98    1
6.71    1
8.15    1
7.55    1
8.79    1
5.59    1
6.22    1
Name: etching_rate, dtype: int64

In [50]:
data.describe()

       etching_rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [51]:
data.groupby('power').agg(np.mean)

       etching_rate
power
160 W         5.792
180 W         6.238
200 W         8.318

In [53]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

Considering a significance level of 0.05, the p-value is below, so we reject the null hypothesis.

We can conclude that chaning the power has an impact on the etching rate. We can assume that the higher the power the higher the etching_rate. (I cannot evaluate if we want a higher or lower etching rate)