# Lab | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.


## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

#### 1. State the null hypothesis

Changing the power of the plasma beam has **NO** significant effect on the etching rate by the machine.

#### 2. State the alternate hypothesis

At least one change of the plasma beam power **has significant effect** on the etching rate by the machine.

#### 3. What is the significance level

Significance level = 0.05

#### 4. What are the degrees of freedom of model, error terms, and total DoF

Degree of freedom of the model = 4. (each watts has 5 data set, so 5 - 1)

error terms = i don't really know how to get this

total DoF = 14 (total data is 15)

## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [38]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [39]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [40]:
data.describe()

       Etching Rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [41]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [42]:
data['Power '].value_counts()

160 W    5
200 W    5
180 W    5
Name: Power , dtype: int64

In [43]:
data.groupby('Power ').agg(np.mean)

        Etching Rate
Power
160 W          5.792
180 W          6.238
200 W          8.318

In [22]:
new_col = []
for col in data.columns:
    new_col.append(col.replace(' ','_'))

In [29]:
data.columns = new_col
data.columns

Index(['Power_', 'Etching_Rate'], dtype='object')

In [31]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Etching_Rate ~ C(Power_)',data=data).fit()
sm.stats.anova_lm(model)

             df     sum_sq   mean_sq          F    PR(>F)
C(Power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

p-value(0.000008) is less than significant level (0.05), so the null hypothesis is rejected.

There is at least one significant difference between the powers.